<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/scss/style.scss">
    <title>Home</title>
</head>
<body>
    <header>
        <section class="headerTitle-container">
          <h1 class="headerTitle">Riwi Store</h1>
        </section>
        <nav>
          <ul class="nav-list">
            <li><a href="">Home</a></li>
            <li><a href="./cities.html">Agregar ciudad</a></li>
            <button id="logout-button">salir</button>
          </ul>
        </nav>
      </header>
      <main>
        <section id="card-section">

        </section>
      </main>

    <script type="module" src="/src/controllers/home.ts"></script>
</body>
</html>